
*.h5
*.jpg
*.pyc
*.avi
*.mp4
.ipynb_checkpoints
*.egg-info

# ignore dist
mask_rcnn/build/

# ignore dist
mask_rcnn/dist/

# ignore Mask_RCNN-2.1
computer-vision/Mask_RCNN-2.1/

# ignore personal twitter API credentials
scraping/twitter/credentials.py
