
computer-vision/Mask_RCNN-LeG/mask_rcnn_coco.h5
*.jpg
*.pyc
*.avi
*.mp4
scraping/google_images/.ipynb_checkpoints/google_image_scraping-checkpoint.ipynb

# ignore ipynb checkpoint
.ipynb_checkpoints

# python egg metadata
*.egg-info

# ignore dist
mask_rcnn/build/

# ignore dist
mask_rcnn/dist/

# ignore Mask_RCNN-2.1
computer-vision/Mask_RCNN-2.1/

# ignore personal twitter API credentials
scraping/twitter/credentials.py
